/*below 1344px//smaller desktops*/
@media (max-width: 84em) {
  .hero {
    max-width: 110rem;
  }
  .container {
    max-width: 110rem;
  }
  .heading-hero-primary {
    font-size: 4.4rem;
  }
  .main-nav-list {
    gap: 4rem;
  }
}

/*below 1200px//landscape tablets*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  h2 {
    font-size: 3rem;
  }

  .grid {
    gap: 3rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 3rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }
  .section-about {
    padding: 6rem 0;
  }
  .image-overlay-container {
    margin: 0 auto;
  }
  .container {
    max-width: 108rem;
  }
  .project-tag {
    font-size: 1.3rem;
  }
  .grid-item-tag h3 {
    font-size: 1.7rem;
  }
  .portfolio-overlay-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 62em) {
  .hero {
    max-width: 92rem;
  }
  .container {
    max-width: 92rem;
  }
  .heading-hero-primary {
    font-size: 3.6rem;
  }
  .hero-secondary:last-of-type {
    font-size: 2rem;
  }
}

/*below 860px//tablets*/
@media (max-width: 54em) {
  body {
    font-size: 1.4rem;
  }
  .heading-hero-primary {
    font-size: 3rem;
  }
  .hero-secondary {
    font-size: 1.4rem;
  }
  .hero-secondary ~ .hero-secondary {
    margin-bottom: 8rem;
  }

  .main-nav-list {
    gap: 1.6rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
  }

  .skills-text-box {
    flex-direction: column;
    gap: 0.8rem;
  }

  .section-about {
    padding: 6.4rem 0rem;
  }

  .toolbox {
    padding: 2rem 3.2rem 1rem 3.2rem;
  }
  .toolbox p {
    margin-bottom: 0;
  }
  .toolbox h3 {
    font-size: 1.6rem;
    margin-bottom: 24px;
  }
  .toolbox-icons img {
    height: 32px;
    margin: 40px 20px 16px 20px;
  }
  .portfolio-overlay-text {
    padding: 20px 15px;
  }
  .portfolio-overlay-img img.sensio-app {
    width: 110px;
  }
  .portfolio-overlay-img img.dyktig-app {
    width: 180px;
  }

  .footer {
    padding: 2.4rem;
  }
  .footer-text,
  .footer-contact {
    font-size: 1.6rem;
  }
  .arrow-to-top {
    width: 28px;
    height: 28px;
    margin-top: 1rem;
  }
  .footer-copyright {
    margin-top: 0;
    font-size: 1rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.6rem;
  }

  .social-icon {
    font-size: 2rem;
  }

  .contacts {
    gap: 2rem;
    font-size: 1.6rem;
  }

  .nav-col {
    margin-top: 2.4rem;
  }

  .hero-img-box {
    text-align: center;
  }

  .container-gallery {
    padding: 2rem 7rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: #141213ee;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 6rem;
    margin-top: 14rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }
}

/*below 672px//small tablets*/
@media (max-width: 42em) {
  body {
    font-size: 1rem;
  }
  .heading-hero-primary {
    font-size: 2.6rem;
  }
  .hero-secondary {
    font-size: 1.2rem;
  }

  .hero-secondary ~ .hero-secondary {
    margin-bottom: 6rem;
  }
  .hero-secondary:last-of-type {
    font-size: 1.6rem;
  }
  .btn {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 4.8rem;
  }
  .list-about li::before {
    font-size: 0.8rem;
  }
  .list-about li {
    text-indent: -1.4rem;
    line-height: 1.4rem;
  }

  .list-about {
    gap: 0.8rem;
  }

  .img-text .subheading,
  .img-card {
    font-size: 1.2rem;
  }

  .skills {
    font-size: 1rem;
    line-height: 2rem;
  }

  .card-skills {
    padding: 2rem 0 0 0;
  }

  .toolbox-icons img {
    height: 20px;
    margin: 30px 12px 10px 12px;
  }

  .toolbox {
    padding: 2rem 3.2rem 1rem 3.2rem;
  }

  .toolbox h3 {
    font-size: 1.4rem;
  }

  .section-about {
    padding: 4rem 0 3.2rem 0;
  }
  .portfolio-section {
    padding: 4rem 0 0 0;
  }

  .section-hero {
    padding: 2.4rem 0 0 0;
  }
  .hr-portfolio {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .portfolio-overlay-text {
    padding: 14px 8px;
    font-size: 1rem;
  }
  .portfolio-overlay-img img.sensio-app {
    width: 90px;
  }
  .portfolio-overlay-img img.dyktig-app {
    width: 140px;
  }
  .image-overlay {
    height: 300px;
  }
  .project-tag {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .grid-item-tag h3 {
    font-size: 1.4rem;
  }
  .footer-text,
  .footer-contact {
    font-size: 1.4rem;
  }
  .arrow-to-top {
    width: 24px;
    height: 24px;
  }
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.2rem;
  }
  .social-icon {
    font-size: 1.8rem;
  }
  .footer-copyright {
    font-size: 0.9rem;
  }
}

/* BELOW 544px */
@media (max-width: 34em) {
  .icon-mobile-nav {
    height: 3rem;
    width: 3rem;
    color: var(--main-bg-color--light);
  }
  .header {
    height: 6.4rem;
  }
  .heading-hero-primary {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .hero-secondary {
    margin-bottom: 2px;
    font-size: 1rem;
  }
  .hero-secondary:last-of-type {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .hero {
    gap: 1.2rem;
    padding: 0 2.4rem;
    grid-template-columns: 1fr 1fr;
  }
  .btn:link {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }
  .portfolio-overlay-text {
    padding: 4px;
    font-size: 0.8rem;
  }
  .portfolio-overlay-img img.sensio-app {
    width: 60px;
  }
  .portfolio-overlay-img img.dyktig-app {
    width: 100px;
  }
  .image-overlay {
    height: 260px;
  }
  .project-tag {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  .grid-item-tag h3 {
    font-size: 1.1rem;
  }
  .hr-portfolio {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .portfolio-overlay-text p:not(:first-of-type) {
    padding-bottom: 6px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .footer .grid {
    display: grid;
    gap: 2rem;
  }

  .grid--2-cols {
    align-items: center;
  }

  .list-about {
    margin-top: 1rem;
  }

  .intro {
    margin-bottom: 2rem;
  }
  .intro p {
    margin-right: 0em;
  }

  .skills-text-box {
    flex-direction: row;
    gap: 4rem;
    padding: 0 2rem;
  }

  .footer {
    padding: 1.4rem 0;
  }
  .footer-text,
  .footer-contact {
    font-size: 1.2rem;
  }
  .social-links {
    margin-bottom: 0px;
    gap: 2rem;
  }

  .arrow-to-top {
    width: 24px;
    height: 24px;
  }
  .footer-copyright {
    margin-top: 16px;
    font-size: 0.9rem;
  }
}

/* BELOW 448px */
@media (max-width: 28em) {
  body {
    font-size: 0.9rem;
  }
  .section-hero {
    padding: 0;
  }
  .hero-secondary:last-of-type {
    font-size: 1rem;
    margin-bottom: 2.2rem;
  }
  .btn:link {
    font-size: 1rem;
  }
  .section-about {
    padding: 3rem 0 2.4rem 0;
  }
  h2 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .card-skills {
    padding: 0;
  }
  .img-text .subheading {
    font-size: 1rem;
  }
  .skills {
    font-size: 0.9rem;
    line-height: 2rem;
  }
  .toolbox {
    padding: 1.4rem 3.2rem 0 3.2rem;
  }
  .toolbox h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  .toolbox-icons img {
    height: 16px;
    margin: 14px 8px 10px 8px;
  }
  .grid-container-portfolio {
    grid-template-columns: 0.3fr 1.7fr;
    gap: 12px;
  }
  .project-tag {
    font-size: 0.7rem;
    margin-bottom: 2px;
  }
  .grid-item-tag h3 {
    font-size: 0.9rem;
  }
  .portfolio-container {
    grid-template-columns: 1.3fr 0.7fr;
  }
  .image-overlay {
    height: 230px;
  }
  .portfolio-overlay-text {
    padding: 4px;
    font-size: 0.6rem;
  }
  .portfolio-overlay-img img.sensio-app {
    width: 40px;
  }
  .portfolio-overlay-img img.dyktig-app {
    width: 60px;
  }
  .footer .grid {
    display: grid;
    gap: 1.2rem;
  }
  .footer-text,
  .footer-contact {
    font-size: 0.8rem;
  }
  .arrow-to-top {
    width: 16px;
    height: 16px;
    margin-top: 2rem;
  }
  .footer-copyright {
    margin-top: 16px;
    font-size: 0.6rem;
  }

  .social-icon {
    font-size: 1.4rem;
  }
}
